
body{
  background-color: #242B2E;
}

.container{
  width: 30%;
  height: 500px;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 60px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #1C8D73;
}
.container h1{
  text-align: center;
  color: #fff;
}

.list{
  width: 200px;
  height: 300px;
  /* border: 1px solid red; */
  margin: auto;
 
}
.list ol li{
  font-size: 15pt;
  color: #fff;
}
.form{
  width: 80%;
  margin: auto;
  /* border: 1px solid red; */
}
.form input{
  height: 30px;
  width: 70%;
}
.form button{
  width: 27%;
  height: 36px;
  background-color: #1266F1;
  color: #fff;
  outline:yellow;
  border: none;
}
.container p{
  text-align: center;
  color: #fff;
}